[Unit]
Description=auto-ryzenadjd
After=sockets.target

[Service]
Type=simple
ExecStart=/usr/bin/auto-ryzenadjd
User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target