# the default config file
# this file usually belongs in /etc/auto-ryzenadj.conf and uses TOML format
# the example provided is my personal configuration for a laptop with a Ryzen 3 Pro 4450U.

[main]
# how many seconds to wait between each ryzenadj call
timer = 3

# the default profile
# be sure that the profile exists
default = "balanced"

# uncomment to set a custom ryzenadj executable path
#executable = ""


[logging]
# uncomment to set a log file
# %date% -> date in Year-Month-Day format
# %time% -> time in Hour:Minute:Second format
file = "/var/log/auto-ryzenadj/auto-ryzenadj-%time%_%date%.log"
# set logging level
# 0 = off
# 1 = info
# 2 = warning
# 3 = debug (WARNING THIS WILL SPAM THE LOG)
level = 2


# Example Profiles for a Ryzen 3 Pro 4450U
[profiles]
power-saver = [
    "--tctl-temp=80",
    "--apu-skin-temp=45",
    "--stapm-limit=6000",
    "--fast-limit=8000",
    "--stapm-time=64",
    "--slow-limit=6000",
    "--slow-time=128",
    "--vrm-current=180000",
    "--vrmmax-current=180000",
    "--vrmsoc-current=180000",
    "--vrmsocmax-curre180000",
    "--vrmgfx-current=180000"
]

balanced = [
    "--tctl-temp=85",
    "--apu-skin-temp=45",
    "--stapm-limit=22000",
    "--fast-limit=24000",
    "--stapm-time=64",
    "--slow-limit=22000",
    "--slow-time=128",
    "--vrm-current=180000",
    "--vrmmax-current=180000",
    "--vrmsoc-current=180000",
    "--vrmsocmax-current=180000",
    "--vrmgfx-current=180000"
]

performance = [
    "--tctl-temp=85",
    "--apu-skin-temp=90",
    "--stapm-limit=28000",
    "--fast-limit=28000",
    "--stapm-time=64",
    "--slow-limit=28000",
    "--slow-time=128",
    "--vrm-current=180000",
    "--vrmmax-current=180000",
    "--vrmsoc-current=180000",
    "--vrmsocmax-current=180000",
    "--vrmgfx-current=180000"
]

extreme = [
    "--tctl-temp=95",
    "--apu-skin-temp=95",
    "--stapm-limit=30000",
    "--fast-limit=34000",
    "--stapm-time=64",
    "--slow-limit=32000",
    "--slow-time=128",
    "--vrm-current=180000",
    "--vrmmax-current=180000",
    "--vrmsoc-current=180000",
    "--vrmsocmax-current=180000",
    "--vrmgfx-current=180000"
]

